---
---

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin: 40px 0;
}

.figure-image {
  display: contents;
}

.figure-image img {
  border-radius: var(--rounded);
  border: solid 1px var(--border);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.figure-caption {
  color: var(--text-muted);
  font-size: var(--small);
  font-style: normal;
  text-align: center;
}
