---
---

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 56px var(--gutter);
  line-height: var(--spacing);
}

footer a {
  color: var(--text) !important;
}

footer a:hover {
  color: var(--primary) !important;
}

footer .icon {
  font-size: var(--xl);
}

// social row
footer > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

footer .button[data-style="bare"] {
  padding: 10px;
  border-radius: var(--round);
}

footer .button[data-style="bare"]:hover {
  background: #ffffff1f;
}

.footer-copyright {
  color: var(--text-muted);
  font-size: var(--small);
}
