---
---

blockquote {
  margin: 24px 0;
  padding: 4px 24px;
  border-left: solid 3px var(--primary);
  color: var(--text-muted);
  text-align: left;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}
