<!-- third party scripts -->
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
<script src="https://unpkg.com/mark.js@8" defer></script>

<!-- MathJax for LaTeX equations added by Andrew Bui 2026/3/1-->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    options: {
      skipHtmlTags: ['script','noscript','style','textarea','pre','code']
    }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/_scripts'" %}
{% for script in scripts %}
  <script src="{{ script.path | relative_url }}"></script>
{% endfor %}
